body {
    background-color: #005a6f;
}

.blanco {
	background-color: #FFF;
	color: #000;
	margin-left: 35%;
	margin-right: 35%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: red;
	text-align: center;
	line-height:50px;
	color: #FFF;
	font-size: 30px;
}

.circleM{
	/*Animaciones*/
	-webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {background: red;}
    to {background: yellow;}
}

/* Standard syntax */
@keyframes myfirst {
    from {background: red;}
    to {background: yellow;}
} 


#loadingFilm{
	display: none;
}

#letraInputDiv{
    display: none;
}

#resultUser{
	display: none;
}

#playAgain{
	display: none;
}

#points{
	display: none;
}

#wordUser{
	background-color: #FFF;
	display: none;
	cursor: default;
	letter-spacing: .15em;
}

#filmPoster{
	display: none;
}

#wrongLetters{
    background-color: #FFF;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20 20 20 20;
    text-align: center;
    display: none;
}
