body {
    background-color: #005a6f;
}

.blanco {
	background-color: #FFF;
	color: #000;
	margin-left: 35%;
	margin-right: 35%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: red;
	text-align: center;
	line-height:50px;
	color: #FFF;
	font-size: 30px;
}

a.disabled{
	pointer-events: none;
	cursor: default;	
}

a.enabled{
	pointer-events: auto;
	cursor: pointer;	
}


#loadingFilm{
	display: none;
}

#letraInputDiv{
    display: none;
}

#resultUser{
	display: none;
}

#playAgain{
	clear: both;
	display: none;
}

#points{
	display: none;
	float: right;
	margin-right: 100px;
}

#wordUser{
	background-color: #FFF;
	display: none;
	cursor: default;
	letter-spacing: .15em;
	word-spacing: .2em;
}

#divFilmPoster{
	height: 300px;
	display: none;
}


#divFilmPoster{
	float: left;
}

#divPistas{
	display: none;
	float:left;
}

#msjPistas{
	height: 10%;
}

#pistas{
	height: 30%;
}

#solicitarPista{
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
}


#wrongLetters{
	clear: both;
    background-color: #FFF;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20 20 20 20;
    text-align: center;
    display: none;
}


#ahorcado{
	float: right;
	display: none;
}