body {
    background-color: #F7F7F7;
    padding: 0px;
    margin: 0px;
}


header {
	text-align: center;
	background-color: #444;
	color: #FFF;
	font-size: 2em;
	font-weight: 600;
}

section {
	margin-top: 20px;
}

.blanco {
	background-color: #FFF;
	color: #000;
	margin-left: 35%;
	margin-right: 35%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height:50px;
	color: #FFF;
	font-size: 30px;
}

a.disabled{
	pointer-events: none;
	cursor: default;	
}

a.enabled{
	pointer-events: auto;
	cursor: pointer;	
}


#start {
	font-size: 2em;
	border: solid;
	border-color: #3498DB;
	margin-top: 20%;
}

#start:hover {
	background-color: #3498DB;
	color: #FFF;
}

#loadingFilm {
	display: none;
	background-image: url("../img/loading.gif");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 90%;
	position: fixed;
	opacity: 0.8;
	background-color: #F3F3F3;
}


#resultUser {
	display: none;
	margin-bottom: 5px;
	color: #FFF;
	background-color: #FFF;
	font-size: 2em;
	cursor: auto;
}

#wordUser {
	background-color: #FFF;
	display: none;
	cursor: default;
	letter-spacing: .15em;
	word-spacing: .2em;
}

#playAgain {
	clear: both;
	display: none;
}







